<p>This is the about view.</p>
<pre>
  {{user.user | json}}
</pre>

<div class="ui cards centered">
  <div class="card">
    <div class="image">
      <img src="{{user.user.avatar_url}}">
    </div>
    <div class="content">
      <a class="header" href="{{user.user.url}}">{{user.user.name}}</a>
      <div class="meta">
        <span class="date">{{user.user.created_at | date}}</span>
      </div>
      <div class="description">
        <ul>
          <li ng-if="user.user.location">Company: {{user.user.company}}</li>
          <li ng-if="user.user.location">Location: {{user.user.location}}</li>
          <li ng-if="user.user.location">Blog</li>
        </ul>
        {{user.user.bio}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>
  </div>

  <a href="/" class="ui button">Back to list</a>
</div>
